<div class="container mx-auto px-2 sm:px-4">
  <app-car-selection></app-car-selection>
  <mat-card *ngIf="selectedCar" class="p-3 md:p-4 mt-3 md:mt-4">
    <mat-card-header>
      <mat-card-title class="text-base md:text-lg font-semibold"
        >Вибране вами авто</mat-card-title
      >
    </mat-card-header>

    <mat-card-content class="p-2 md:p-4">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-4 text-sm md:text-base"
      >
        <div class="font-medium">Марка:</div>
        <div>{{ selectedCar.brand }}</div>

        <div class="font-medium">Модель:</div>
        <div>{{ selectedCar.model }}</div>

        <div class="font-medium">Рік:</div>
        <div>{{ selectedCar.startYear }}</div>

        <div class="font-medium">Тип кузова:</div>
        <div>{{ selectedCar.bodyType | bodyType }}</div>

        <div class="font-medium">Специфікація двигуна:</div>
        <div>{{ selectedCar.engineSpec | engineSpec }}</div>
      </div>
    </mat-card-content>

    <mat-card-actions align="end" class="px-2 md:px-4 pb-2 md:pb-4">
      <button mat-button (click)="clearSelection()">Очистити вибір</button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="selectedCarId" class="mt-4 md:mt-8 flex justify-center w-full">
    <div class="w-full max-w-7xl">
      <app-compatible-products
        [carModelId]="selectedCarId"
      ></app-compatible-products>
    </div>
  </div>
</div>
