<div class="p-4">
  <h1 class="text-2xl font-bold text-center mb-6">Admin Categories</h1>
  <div class="flex justify-between">
    <button
      mat-button
      color="accent"
      [routerLink]="['/admin/categories/create']"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-sm m-4"
    >
      Create
    </button>
    <mat-paginator
      class="bg-white m-2"
      [pageSizeOptions]="pageSizeOptions"
      [length]="totalItems"
      [pageSize]="shopParams.pageSize"
      (page)="handlePageEvent($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div class="overflow-x-auto">
    <table
      mat-table
      multiTemplateDataRows
      [dataSource]="categories"
      class="mat-elevation-z8 w-full"
    >
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let category">
          <img
            *ngIf="category.imagePath; else defaultImage"
            [src]="getCarModelImage(category.imagePath)"
            alt="Image"
            class="w-16 h-16 object-cover rounded-sm"
          />
          <ng-template #defaultImage>
            <img
              [src]="getCarModelImage('')"
              alt="Default"
              class="w-16 h-16 object-cover rounded-sm"
            />
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Category Name</th>
        <td mat-cell *matCellDef="let category">
          <button
            *ngIf="!category.parentCategoryId"
            mat-icon-button
            color="primary"
            (click)="toggleSubcategoriesVisibility(category.id)"
            title="Toggle Subcategories"
          >
            <mat-icon>
              {{
                visibleSubcategories[category.id]
                  ? "expand_more"
                  : "chevron_right"
              }}
            </mat-icon>
          </button>
          <span>{{ category.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="isAvailable">
        <th mat-header-cell *matHeaderCellDef class="text-center">Available</th>
        <td mat-cell *matCellDef="let category" class="text-center">
          <mat-slide-toggle
            [checked]="category.isAvailable"
            (change)="toggleAvailability(category)"
            color="primary"
            class="!ml-2 !mt-1"
          >
          </mat-slide-toggle>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let category">
          <button
            mat-button
            [routerLink]="['/admin/categories/edit', category.id]"
            class="py-2 px-4"
          >
            Edit
          </button>
          <button
            mat-button
            (click)="deleteCategory(category.id)"
            class="py-2 px-4"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let category; columns: displayedColumns"></tr>

      <tr
        mat-row
        *matRowDef="
          let category;
          columns: ['expandedDetail'];
          when: isExpansionDetailRow
        "
        class="expanded-row"
      ></tr>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let category"
          [attr.colspan]="displayedColumns.length"
        >
          <div *ngIf="visibleSubcategories[category.id]">
            <table
              mat-table
              [dataSource]="subcategoriesMap[category.id]"
              class="w-full"
            >
              <ng-container matColumnDef="subImage">
                <td mat-cell *matCellDef="let subcategory">
                  <img
                    *ngIf="subcategory.imagePath; else defaultSubImage"
                    [src]="getCarModelImage(subcategory.imagePath)"
                    alt="Subcategory Image"
                    class="w-16 h-16 object-cover rounded-sm"
                  />
                  <ng-template #defaultSubImage>
                    <img
                      [src]="getCarModelImage('')"
                      alt="Default Image"
                      class="w-16 h-16 object-cover rounded-sm"
                    />
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="subName">
                <td mat-cell *matCellDef="let subcategory">
                  <mat-icon inline>subdirectory_arrow_right</mat-icon>
                  {{ subcategory.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="subIsAvailable">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Available
                </th>
                <td mat-cell *matCellDef="let subcategory" class="text-center">
                  <mat-slide-toggle
                    [checked]="subcategory.isAvailable"
                    (change)="toggleAvailability(subcategory)"
                    color="primary"
                    class="!ml-2 !mt-1"
                  >
                  </mat-slide-toggle>
                </td>
              </ng-container>

              <ng-container matColumnDef="subActions">
                <td mat-cell *matCellDef="let subcategory">
                  <button
                    mat-button
                    [routerLink]="['/admin/categories/edit', subcategory.id]"
                    class="py-2 px-4"
                  >
                    Edit
                  </button>
                  <button
                    mat-button
                    (click)="deleteCategory(subcategory.id)"
                    class="py-2 px-4"
                  >
                    Delete
                  </button>
                </td>
              </ng-container>

              <tr
                mat-row
                *matRowDef="let row; columns: subDisplayedColumns"
              ></tr>
            </table>
          </div>
        </td>
      </ng-container>
    </table>
  </div>
</div>
