<div class="p-3 sm:p-6 max-w-xl mx-auto">
  <h1 class="text-xl sm:text-2xl font-bold text-center mb-4 sm:mb-6">
    {{ isEditMode ? "Редагувати" : "Створити" }} Марку Автомобіля
  </h1>

  <form [formGroup]="carBrandForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-full mb-3 sm:mb-4">
      <mat-label>Назва Марки</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Введіть назву марки"
      />
      <mat-error *ngIf="carBrandForm.get('name')?.hasError('required')">
        Назва марки обов'язкова
      </mat-error>
      <mat-error *ngIf="carBrandForm.get('name')?.hasError('maxlength')">
        Назва марки має бути менше 100 символів
      </mat-error>
    </mat-form-field>

    <div class="mb-3 sm:mb-4">
      <div
        class="w-full bg-gray-100 border border-gray-300 rounded px-3 sm:px-4 py-2"
      >
        <label
          for="logo"
          class="block text-xs sm:text-sm font-medium text-gray-700 mb-1"
          >Логотип Марки (необов'язково)</label
        >
        <input
          type="file"
          id="logo"
          (change)="onLogoSelected($event)"
          class="block w-full text-xs sm:text-sm text-gray-900 file:mr-2 sm:file:mr-4 file:py-1 sm:file:py-2 file:px-2 sm:file:px-4 file:rounded file:border-0 file:text-xs sm:file:text-sm file:font-semibold file:bg-blue-50 hover:file:bg-blue-100"
        />
      </div>
      <mat-error
        *ngIf="logoInvalid && selectedLogo"
        class="text-xs sm:text-sm mt-1"
      >
        Будь ласка, виберіть дійсне зображення.
      </mat-error>
    </div>

    <div
      class="flex flex-col sm:flex-row sm:justify-between mt-4 sm:mt-6 gap-3 sm:gap-0"
    >
      <button
        mat-button
        type="button"
        [routerLink]="['/admin/carbrands']"
        class="bg-gray-500 text-white w-full sm:w-auto order-2 sm:order-1"
      >
        Скасувати
      </button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="carBrandForm.invalid"
        class="w-full sm:w-auto order-1 sm:order-2"
      >
        {{ isEditMode ? "Оновити" : "Створити" }} Марку Автомобіля
      </button>
    </div>
  </form>
</div>
