html,
body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.callback-button {
  position: fixed !important;
  bottom: 2rem !important;
  right: 2rem !important;
  z-index: 1000 !important;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
}
