<div
  class="flex flex-col min-h-screen"
  style="touch-action: auto; -webkit-overflow-scrolling: touch"
>
  <app-header></app-header>

  <div
    class="container flex-1 mb-6"
    style="touch-action: auto; -webkit-overflow-scrolling: touch"
  >
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
<button
  mat-stroked-button
  color="primary"
  (click)="openCallbackDialog()"
  class="callback-button fixed bottom-8 right-8 shadow-lg flex items-center gap-2 z-[1000]"
>
  <mat-icon>support_agent</mat-icon>
  <span class="hidden lg:inline-block">Замовити дзвінок</span>
</button>
