<div class="flex flex-col min-h-screen">
  <app-header></app-header>

  <div class="container flex-1 mt-12 mb-6">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
<button
  mat-raised-button
  color="primary"
  (click)="openCallbackDialog()"
  class="callback-button fixed bottom-8 right-8 px-4 py-2 rounded-full shadow-lg flex items-center gap-2 transition-colors z-[1000]"
>
  <mat-icon class="text-2xl">support_agent</mat-icon>
  <span class="text-lg font-medium">Request a call</span>
</button>
