<div class="flex mt-32 gap-6">
  <div class="w-3/4">
    <mat-stepper
      #stepper
      [linear]="true"
      class="bg-white border border-gray-200 shadow-xs"
    >
      <mat-step label="Information" [stepControl]="informationForm">
        <app-checkout-information
          (cityChange)="onCityChanged($event)"
        ></app-checkout-information>
        <div class="flex justify-between mt-6">
          <button routerLink="/shop" mat-stroked-button mat-button>
            Continue shopping
          </button>
          <button
            type="submit"
            matStepperNext
            mat-flat-button
            (click)="saveInformation()"
          >
            Next
          </button>
        </div>
      </mat-step>

      <mat-step label="Delivery" [stepControl]="deliveryGroup">
        <app-checkout-delivery
          [city]="selectedCity"
          (warehouseSelected)="onWarehouseSelected($event)"
          (deliveryMethodChanged)="onDeliveryMethodChanged($event)"
        ></app-checkout-delivery>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button mat-button>Back</button>
          <button matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>

      <mat-step label="Payment" [stepControl]="paymentForm">
        <app-checkout-payment></app-checkout-payment>
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button mat-button>Back</button>
          <button matStepperNext mat-flat-button>Next</button>
        </div>
      </mat-step>

      <mat-step label="Confirmation">
        <app-checkout-review
          [deliveryMethod]="deliveryGroup.get('method')?.value"
          [paymentMethod]="paymentForm.get('paymentMethod')?.value"
          [selectedWarehouse]="selectedWarehouseName"
          >></app-checkout-review
        >
        <div class="flex justify-between mt-6">
          <button matStepperPrevious mat-stroked-button mat-button>Back</button>
          <button
            mat-flat-button
            (click)="completeCheckout()"
            [disabled]="isProcessing"
          >
            <mat-spinner *ngIf="isProcessing" diameter="20"></mat-spinner>
            <span *ngIf="!isProcessing">Confirm Order</span>
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div class="w-1/4">
    <app-order-summary></app-order-summary>
  </div>
</div>
