<div class="p-6 space-y-8 bg-gray-50">
  <h1 class="text-2xl text-center font-semibold mb-4">
    Гарантія та повернення
  </h1>

  <div>
    <mat-card class="rounded-lg shadow-lg p-6">
      <div class="space-y-6">
        <div appEditableContent>
          <h3 class="text-lg font-medium mb-2">Гарантія</h3>
          <ul class="list-disc list-inside space-y-1 text-gray-700">
            <li>
              Стандартний термін: <strong>14 календарних днів</strong> з дати
              отримання товару.
            </li>
            <li>
              Умови: неушкоджена упаковка, відсутність слідів установки та
              збережені маркування виробника.
            </li>
            <li>
              Гарантійний випадок: заводський дефект або невідповідність
              специфікаціям.
            </li>
          </ul>
          <ol class="list-decimal list-inside space-y-1 text-gray-700 mt-2">
            <li>Зв'яжіться з нами телефоном або електронною поштою.</li>
            <li>Запакуйте і відправте товар до нашого сервісного центру.</li>
            <li>
              Ми замінимо товар або повернемо гроші протягом 7 днів після
              підтвердження дефекту.
            </li>
          </ol>
        </div>
        <div appEditableContent>
          <h3 class="text-lg font-medium mb-2">Повернення</h3>
          <ul class="list-disc list-inside space-y-1 text-gray-700">
            <li>
              Повернення товарів належної якості: протягом 14 днів з дати
              покупки.
            </li>
            <li>
              Повернення дефектних товарів: без обмеження часу, з відшкодуванням
              вартості та доставки.
            </li>
          </ul>
          <ol class="list-decimal list-inside space-y-1 text-gray-700 mt-2">
            <li>Вкажіть номер замовлення та причину повернення.</li>
            <li>Запакуйте деталь в оригінальну упаковку.</li>
            <li>
              Відправте її через "Нову Пошту" на нашу адресу з номером
              відстеження (ТТН).
            </li>
            <li>Повернення коштів протягом 14 днів після перевірки.</li>
          </ol>
        </div>
        <div appEditableContent>
          <h3 class="text-lg font-medium mb-2">Винятки</h3>
          <ul class="list-disc list-inside space-y-1 text-gray-700">
            <li>
              Не підлягають поверненню: деталі зі слідами встановлення або
              повернення без попередньої домовленості.
            </li>
            <li>
              Деякі товари можуть мати індивідуальні умови, зазначені в описі.
            </li>
          </ul>
        </div>
        <div appEditableContent>
          <h3 class="text-lg font-medium mb-2">Контакти</h3>
          <p class="text-gray-700">Телефон: +38 (0XX) XXX-XX-XX</p>
          <p class="text-gray-700">Email: support&#64;yourshop.ua</p>
          <p class="text-gray-700">Робочі години: Пн–Пт 09:00–18:00</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
