<div class="p-6 max-w-xl mx-auto">
  <h1 class="text-2xl font-bold text-center mb-6">
    {{ isEditMode ? "Edit" : "Create" }} Category
  </h1>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Category Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Enter category name"
          [class.is-invalid]="
            categoryForm.get('name')?.invalid &&
            categoryForm.get('name')?.touched
          "
        />
        <mat-error *ngIf="categoryForm?.get('name')?.hasError('required')">
          Category name is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="mb-4">
      <label for="image">Category Image (Optional)</label>
      <input
        type="file"
        id="image"
        (change)="onImageSelected($event)"
        class="w-full"
      />
      <mat-error *ngIf="imageInvalid && selectedImage">
        Please select a valid image.
      </mat-error>
    </div>

    <div class="flex justify-between">
      <button
        mat-button
        type="button"
        [routerLink]="['/admin/categories']"
        class="bg-gray-500 text-white"
      >
        Cancel
      </button>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="categoryForm.invalid"
      >
        {{ isEditMode ? "Update" : "Create" }} Category
      </button>
    </div>
  </form>
</div>
