<section class="py-3 mt-4">
  <div class="max-w-[var(--breakpoint-2xl)] px-4 mx-auto">
    <h2 class="text-xl font-medium text-center uppercase text-gray-800 mb-6">
      OTHER PRODUCTS IN THE SECTION
    </h2>

    <div class="relative flex items-center">
      <button
        mat-icon-button
        class="absolute left-[-24px] top-1/2 -translate-y-1/2 text-blue-500 bg-white shadow-md rounded-full z-10 hover:bg-blue-100 hover:shadow-lg transition-all slider-nav-button"
        (click)="previousSlide()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div
        class="w-full grid gap-4 overflow-hidden mt-4"
        [ngClass]="{
          'grid-cols-1': productsPerPage === 1,
          'grid-cols-2': productsPerPage === 2,
          'grid-cols-3': productsPerPage === 3
        }"
      >
        <div
          *ngFor="let product of visibleProducts"
          class="border border-blue-200 rounded-md p-4 flex flex-col items-center relative"
        >
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <button
        mat-icon-button
        class="absolute right-[-24px] top-1/2 -translate-y-1/2 text-blue-500 bg-white shadow-md rounded-full z-10 hover:bg-blue-100 hover:shadow-lg transition-all slider-nav-button"
        (click)="nextSlide()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div class="flex justify-center mt-4 space-x-2" *ngIf="maxSlide > 0">
      <button
        *ngFor="let _ of [].constructor(maxSlide + 1); let i = index"
        class="w-2 h-2 rounded-full transition-all duration-300"
        [ngClass]="{
          'bg-gray-300': currentSlide !== i,
          'bg-blue-500': currentSlide === i
        }"
        (click)="goToSlide(i)"
        aria-label="Carousel page indicator"
      ></button>
    </div>
  </div>
</section>
