:host {
  display: block;
}

.slider-nav-button {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.grid-cols-1 > div,
.grid-cols-2 > div,
.grid-cols-3 > div {
  transition: all 0.3s ease;

  &:hover {
    z-index: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }
}

@media (max-width: 768px) {
  .slider-nav-button {
    top: 45%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
  }
}
