<form [formGroup]="paymentForm" class="space-y-4">
  <mat-radio-group
    formControlName="paymentMethod"
    class="flex flex-col space-y-2"
  >
    <mat-radio-button [value]="PaymentMethod.Prepaid" class="mat-radio-button">
      <span class="text-lg font-medium">Prepayment</span>
    </mat-radio-button>
    <mat-radio-button [value]="PaymentMethod.Postpaid" class="mat-radio-button">
      <span class="text-lg font-medium">Afterpayment</span>
    </mat-radio-button>
  </mat-radio-group>

  <div *ngIf="paymentForm.invalid" class="text-red-500 text-sm mt-2">
    Select a payment method.
  </div>
</form>
