<mat-form-field appearance="outline" class="w-full mb-4">
  <mat-label>{{ label }}</mat-label>
  <input
    [formControl]="control"
    type="{{ type }}"
    placeholder="{{ label }}"
    matInput
  />
  @if (control.hasError('required')) {
  <mat-error>{{ label }} обов'язковий</mat-error>
  } @if (control.hasError('email')) {
  <mat-error>Електронна адреса невірна</mat-error>
  } @if (control.hasError('minlength')) {
  <mat-error
    >{{ label }} повинен містити мінімум
    {{control.errors?.['minlength'].requiredLength}} символів</mat-error
  >
  } @if (control.hasError('passwordStrength')) {
  <mat-error
    >Пароль повинен містити великі літери, малі літери, цифри та спеціальні
    символи</mat-error
  >
  }
</mat-form-field>
