<div class="container mx-auto p-2 sm:p-4 max-w-2xl">
  <mat-card class="mb-4 sm:mb-6">
    <mat-card-header>
      <mat-card-title class="text-lg sm:text-xl font-bold mb-2 sm:mb-4">
        Вибір Автомобіля
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="carSelectionForm" (ngSubmit)="saveSelection()">
        <mat-stepper
          [orientation]="isSmallScreen ? 'vertical' : 'horizontal'"
          linear
          #stepper
          class="mb-4"
        >
          <mat-step
            [stepControl]="carSelectionForm.get('brand')!"
            label="Вибрати Марку"
          >
            <div class="p-2 sm:p-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Марка</mat-label>
                <mat-select formControlName="brand">
                  <mat-option *ngFor="let brand of carBrands" [value]="brand">
                    {{ brand.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="carSelectionForm.get('brand')?.hasError('required')"
                >
                  Марка обов'язкова для вибору
                </mat-error>
              </mat-form-field>
              <div class="flex justify-end mt-4">
                <button
                  mat-button
                  matStepperNext
                  [disabled]="!carSelectionForm.get('brand')?.valid"
                  type="button"
                  class="bg-blue-500 text-white px-4 py-1 rounded"
                >
                  Далі
                </button>
              </div>
            </div>
          </mat-step>

          <mat-step
            [stepControl]="carSelectionForm.get('model')!"
            label="Вибрати Модель"
          >
            <div class="p-2 sm:p-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Модель</mat-label>
                <mat-select formControlName="model">
                  <mat-option *ngFor="let model of models" [value]="model">
                    {{ model }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="carSelectionForm.get('model')?.hasError('required')"
                >
                  Модель обов'язкова для вибору
                </mat-error>
              </mat-form-field>
              <div class="flex flex-col sm:flex-row justify-between mt-4 gap-2">
                <button
                  mat-button
                  matStepperPrevious
                  type="button"
                  class="w-full sm:w-auto"
                >
                  Назад
                </button>
                <button
                  mat-button
                  matStepperNext
                  [disabled]="!carSelectionForm.get('model')?.valid"
                  type="button"
                  class="bg-blue-500 text-white px-4 py-1 rounded w-full sm:w-auto"
                >
                  Далі
                </button>
              </div>
            </div>
          </mat-step>

          <mat-step
            [stepControl]="carSelectionForm.get('year')!"
            label="Вибрати Рік"
          >
            <div class="p-2 sm:p-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Рік</mat-label>
                <mat-select formControlName="year">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{ year }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="carSelectionForm.get('year')?.hasError('required')"
                >
                  Рік обов'язковий для вибору
                </mat-error>
              </mat-form-field>
              <div class="flex flex-col sm:flex-row justify-between mt-4 gap-2">
                <button
                  mat-button
                  matStepperPrevious
                  type="button"
                  class="w-full sm:w-auto"
                >
                  Назад
                </button>
                <button
                  mat-button
                  matStepperNext
                  [disabled]="!carSelectionForm.get('year')?.valid"
                  type="button"
                  class="bg-blue-500 text-white px-4 py-1 rounded w-full sm:w-auto"
                >
                  Далі
                </button>
              </div>
            </div>
          </mat-step>

          <mat-step
            [stepControl]="carSelectionForm.get('bodyType')!"
            label="Вибрати Тип Кузова"
          >
            <div class="p-2 sm:p-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Тип Кузова</mat-label>
                <mat-select formControlName="bodyType">
                  <mat-option
                    *ngFor="let bodyType of bodyTypes"
                    [value]="bodyType"
                  >
                    {{ bodyType | bodyType }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="carSelectionForm.get('bodyType')?.hasError('required')"
                >
                  Тип кузова обов'язковий для вибору
                </mat-error>
              </mat-form-field>
              <div class="flex flex-col sm:flex-row justify-between mt-4 gap-2">
                <button
                  mat-button
                  matStepperPrevious
                  type="button"
                  class="w-full sm:w-auto"
                >
                  Назад
                </button>
                <button
                  mat-button
                  matStepperNext
                  [disabled]="!carSelectionForm.get('bodyType')?.valid"
                  type="button"
                  class="bg-blue-500 text-white px-4 py-1 rounded w-full sm:w-auto"
                >
                  Далі
                </button>
              </div>
            </div>
          </mat-step>

          <mat-step
            [stepControl]="carSelectionForm.get('engineSpec')!"
            label="Специфікації Двигуна"
          >
            <div class="p-2 sm:p-4">
              <mat-form-field appearance="fill" class="w-full">
                <mat-label>Специфікація Двигуна</mat-label>
                <mat-select formControlName="engineSpec">
                  <mat-option *ngFor="let spec of engineSpecs" [value]="spec">
                    {{ spec | engineSpec }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    carSelectionForm.get('engineSpec')?.hasError('required')
                  "
                >
                  Специфікація двигуна обов'язкова для вибору
                </mat-error>
              </mat-form-field>

              <div class="flex flex-col sm:flex-row justify-between mt-4 gap-2">
                <button
                  mat-button
                  matStepperPrevious
                  type="button"
                  class="w-full sm:w-auto"
                >
                  Назад
                </button>
                <button
                  mat-button
                  type="submit"
                  [disabled]="!carSelectionForm.valid"
                  class="bg-blue-500 text-white px-4 py-1 rounded w-full sm:w-auto"
                >
                  Зберегти Вибір
                </button>
              </div>
            </div>
          </mat-step>
        </mat-stepper>
      </form>
    </mat-card-content>
  </mat-card>
</div>
