<mat-card
  class="max-w-lg mx-auto mt-4 md:mt-8 p-4 md:p-8 bg-white w-[95%] md:w-auto"
>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="text-center mb-4 md:mb-6">
      <h1 class="text-2xl md:text-3xl font-semibold text-primary">
        Зареєструватися
      </h1>
    </div>
    <app-text-input label="Електронна адреса" formControlName="email" />
    <app-text-input label="Ім'я" formControlName="firstName" />
    <app-text-input label="Прізвище" formControlName="lastName" />
    <app-text-input label="Пароль" formControlName="password" type="password" />

    <button
      [disabled]="registerForm.invalid"
      mat-flat-button
      type="submit"
      class="w-full py-1.5 md:py-2"
    >
      Зареєструватися
    </button>
  </form>
</mat-card>
