<header class="pt-4 w-full fixed top-0 z-50 bg-white">
  <div
    class="flex align-middle items-center justify-between max-w-(--breakpoint-2xl) mx-auto"
  >
    <nav class="flex gap-3 my-2 uppercase text-2xl">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
    </nav>

    <form
      (ngSubmit)="onSearchChange()"
      class="relative flex items-center w-full max-w-sm mx-4"
    >
      <input
        type="search"
        class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg"
        placeholder="Part number or Product name"
        name="search"
        [(ngModel)]="shopParams.searchTerm"
      />
      <button
        mat-icon-button
        type="submit"
        class="absolute inset-y-0 right-20 flex items-center pl-3"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <div class="flex gap-3">
      <mat-card
        *ngIf="selectedCar"
        class="cursor-pointer"
        (click)="selectedCarId && navigateToShop(selectedCarId)"
      >
        <div class="flex items-center justify-between px-2">
          <span class="font-medium leading-tight text-sm mt-2">
            {{ selectedCar.brand }} {{ selectedCar.model }}
          </span>
          <button
            mat-icon-button
            color="warn"
            (click)="clearCarSelection(); $event.stopPropagation()"
            matTooltip="Remove car selection"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card>

      <ng-container *ngIf="accountService.isAdmin()">
        <button mat-stroked-button routerLink="/admin">Admin</button>
      </ng-container>
      <a
        routerLink="/cart"
        routerLinkActive="active"
        matBadge="{{ cartService.itemCount() }}"
        matBadgeSize="large"
        class="custom-badge mt-2 mr-2"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>
      @if (accountService.currentUser()) {
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>arrow_drop_down</mat-icon>
        <span>{{ accountService.currentUser()?.email }}</span>
      </button>
      } @else {
      <button routerLink="/account/login" mat-stroked-button>Login</button>
      <button routerLink="/account/register" mat-stroked-button>
        Register
      </button>
      }
    </div>
  </div>

  <div class="max-w-(--breakpoint-2xl) mx-auto mt-2">
    <mat-toolbar
      color="primary"
      class="flex overflow-x-auto rounded-t justify-between p-4"
    >
      @for (category of categories; track category.id) {
      <div class="flex items-center">
        <a
          mat-button
          [routerLink]="['/shop/category', category.id]"
          [color]="activeCategory?.id === category.id ? 'accent' : 'primary'"
          class="whitespace-nowrap font-medium"
        >
          {{ category.name }}
        </a>
        <button
          mat-icon-button
          [color]="activeCategory?.id === category.id ? 'accent' : 'primary'"
          (click)="toggleSubcategories(category)"
        >
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      }
    </mat-toolbar>

    @if (subcategoriesVisible && subcategories.length > 0) {
    <div
      class="p-4 rounded-b grid grid-cols-4 absolute left-0 right-0 max-w-(--breakpoint-2xl) mx-auto bg-gray-400/40 backdrop-blur-sm"
    >
      @for (subcategory of subcategories; track subcategory.id) {
      <a
        mat-button
        [routerLink]="['/shop/category', subcategory.id]"
        class="text-center min-h-16 flex items-center justify-center text-primary-30"
        (click)="closeSubcategories()"
      >
        {{ subcategory.name }}
      </a>
      }
    </div>
    }
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar
  mode="indeterminate"
  class="fixed top-34 z-50"
></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="px-5">
  <button mat-menu-item class="px-3" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    My cart
  </button>
  <button mat-menu-item class="px-3" routerLink="/orders">
    <mat-icon>history</mat-icon>
    My orders
  </button>
  <button mat-menu-item class="px-3" routerLink="/account/customer-car">
    <mat-icon>directions_car</mat-icon>
    My car
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="px-3" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
