<div class="mt-4 w-full">
  <h4 class="text-lg font-semibold">Billing and delivery information</h4>
  <dl>
    <dt class="font-medium">Delivery Method</dt>
    <dd class="mt-1 text-gray-500">
      {{ deliveryMethod }}
    </dd>

    <dt *ngIf="deliveryMethod === 'delivery'" class="font-medium mt-4">
      Warehouse
    </dt>
    <dd *ngIf="deliveryMethod === 'delivery'" class="mt-1 text-gray-500">
      {{ selectedWarehouse }}
    </dd>

    <dt *ngIf="deliveryMethod !== 'delivery'" class="font-medium mt-4">
      Warehouse
    </dt>
    <dd *ngIf="deliveryMethod !== 'delivery'" class="mt-1 text-gray-500">
      {{ deliveryMethod }}
    </dd>

    <dt class="font-medium mt-4">Payment details</dt>
    <dd class="mt-1 text-gray-500">{{ paymentMethod }}</dd>
  </dl>
</div>

<div class="mt-6 mx-auto">
  <div class="border-b border-gray-200">
    <table class="w-full text-center">
      <tbody class="divide-y divide-gray-200">
        <tr
          *ngFor="
            let item of cartService.cart()?.cartItems;
            trackBy: trackByProductId
          "
        >
          <td class="py-4">
            <div class="flex items-center gap-4">
              <img
                *ngIf="getProductImage(item.productId); else noImage"
                [src]="getProductImage(item.productId).url"
                alt="product image"
                class="w-10 h-10"
              />
              <ng-template #noImage>
                <img
                  src="images/no-image.jpeg"
                  alt="No product image"
                  class="w-10 h-10"
                />
              </ng-template>
              <span>{{ getProductName(item.productId) }}</span>
            </div>
          </td>
          <td class="p-4">x{{ item.quantity }}</td>
          <td class="font-bold text-xl">{{ item?.totalPrice | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
