<div class="checkout-success container mx-auto p-6">
  <h1 class="text-3xl font-bold mb-6 text-center text-primary">
    Thank you for your order!
  </h1>

  <div *ngIf="isLoading" class="flex justify-center my-6">
    <mat-spinner color="primary" diameter="50"></mat-spinner>
  </div>

  <div *ngIf="error && !isLoading" class="my-6 text-center">
    <p class="text-red-600 text-lg">{{ error }}</p>
  </div>

  <div *ngIf="order && !isLoading" class="bg-white shadow-xl rounded-lg p-6">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Order Details</h2>

    <div class="space-y-4">
      <p>
        <strong class="font-semibold text-gray-700">Buyer:</strong>
        {{ order.buyerName }}
      </p>
      <p>
        <strong class="font-semibold text-gray-700">Total Price:</strong>
        {{ order.totalPrice | currency }}
      </p>
      <p *ngIf="order.paymentId">
        <strong class="font-semibold text-gray-700">Payment ID:</strong>
        {{ order.paymentId }}
      </p>

      <p>
        <strong class="font-semibold text-gray-700">Delivery Method:</strong>
        {{ order.deliveryMethod | delivery }}
      </p>

      <p *ngIf="order.shippingAddress">
        <strong class="font-semibold text-gray-700">Shipping Address:</strong>
        {{ order.shippingAddress }}
      </p>

      <p>
        <strong class="font-semibold text-gray-700">Payment Method:</strong>
        {{ order.paymentMethod | payment }}
      </p>

      <p>
        <strong class="font-semibold text-gray-700">Created At:</strong>
        {{ order.createdAtUtc | date : "d MMMM yyyy HH:mm" }}
      </p>
      <p>
        <strong class="font-semibold text-gray-700">Order Status:</strong>
        {{ order.status | status }}
      </p>
    </div>

    <h3 class="text-lg font-semibold mt-4">Order Items</h3>
    <table class="min-w-full divide-y divide-gray-200 mt-2">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Product Name
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Unit Price
          </th>
          <th
            class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
          >
            Quantity
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr *ngFor="let item of order.orderItems">
          <td class="px-6 py-4 whitespace-nowrap">
            {{ productNames[item.productId] }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ item.price | currency }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ item.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-8">
    <button
      mat-raised-button
      routerLink="/"
      class="px-6 py-3 text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 rounded-md shadow-lg transition-colors duration-300"
    >
      Go to Home
    </button>
  </div>
</div>
