:host {
  display: block;
}

.mat-paginator {
  background: transparent;
}

/* Додавання глобального стилю для широкого меню сортування */
::ng-deep .wide-sort-menu {
  .mat-mdc-menu-content,
  .mat-mdc-menu-panel,
  .mat-mdc-select-panel,
  .mat-mdc-list-option {
    min-width: 300px !important;
    max-width: 350px !important;
  }
}
