@if (products) {
<div class="flex flex-col gap-3">
  <div class="flex justify-between items-start">
    <div class="flex-1">
      <app-product-list
        [products]="products"
        [shopParams]="shopParams"
        [pageSizeOptions]="pageSizeOptions"
        [sortOptions]="sortOptions"
        (pageChanged)="handlePageEvent($event)"
        (searchChanged)="onSearchChange()"
        (sortChanged)="onSortChange($event)"
      >
        <div class="grid grid-cols-5 gap-4">
          @for (product of products.data; track product.id) {
          <app-product-item [product]="product"></app-product-item>
          }
        </div>
      </app-product-list>
    </div>

    <div class="flex items-center ml-4">
      <button
        class="match-input-height"
        mat-stroked-button
        (click)="openFiltersDialog()"
      >
        <mat-icon>filter_list</mat-icon>
        Filters
      </button>
    </div>
  </div>
</div>
}
