<div class="bg-white shadow-md">
  <div
    class="flex flex-col md:flex-row md:justify-between items-center gap-3 max-w-(--breakpoint-2xl) mx-auto px-3 sm:px-4 pt-3 sm:pt-4"
  >
    <mat-paginator
      class="bg-white w-full sm:w-auto text-xs sm:text-sm rounded-lg"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="totalItems"
      [pageSize]="orderParams.pageSize"
      (page)="onPageChange($event)"
      showFirstLastButtons
      style="touch-action: auto"
    >
    </mat-paginator>
    <h2 class="text-xl sm:text-2xl font-semibold text-gray-800 text-center">
      Замовлення клієнтів
    </h2>
    <mat-form-field appearance="outline" class="w-full md:w-auto">
      <mat-label>Фільтр за статусом</mat-label>
      <mat-select (selectionChange)="onFilterSelect($event)">
        <mat-option *ngFor="let status of statusOptions" [value]="status">{{
          status | status
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="p-3 sm:p-4">
    <div class="overflow-x-auto shadow-xl bg-white rounded-lg responsive-table">
      <table mat-table [dataSource]="dataSource" class="w-full table-auto">
        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-2 sm:px-4 py-2 text-left text-gray-600 text-xs sm:text-sm hidden sm:table-cell"
          >
            ID замовлення
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            class="px-2 sm:px-4 py-2 text-gray-800 text-xs sm:text-sm hidden sm:table-cell"
          >
            {{ order.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="orderDate">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-2 sm:px-4 py-2 text-left text-gray-600 text-xs sm:text-sm"
          >
            Дата замовлення
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            class="px-2 sm:px-4 py-2 text-gray-800 text-xs sm:text-sm"
          >
            {{ order.createdAtUtc | date : "d MMMM yyyy HH:mm" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-2 sm:px-4 py-2 text-left text-gray-600 text-xs sm:text-sm"
          >
            Сума
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            class="px-2 sm:px-4 py-2 text-gray-800 text-xs sm:text-sm"
          >
            {{ order.totalPrice | currency : "UAH" : "symbol-narrow" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-2 sm:px-4 py-2 text-left text-gray-600 text-xs sm:text-sm hidden md:table-cell"
          >
            Статус
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            class="px-2 sm:px-4 py-2 text-gray-800 text-xs sm:text-sm hidden md:table-cell"
          >
            {{ order.status | status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="px-2 sm:px-4 py-2 text-left text-gray-600 text-xs sm:text-sm"
          >
            Дії
          </th>
          <td mat-cell *matCellDef="let order" class="px-2 sm:px-4 py-2">
            <div class="flex gap-1 sm:gap-2">
              <button
                matTooltip="Переглянути"
                mat-icon-button
                routerLink="/orders/{{ order.id }}"
                class="text-blue-500 hover:text-blue-700"
              >
                <mat-icon class="text-base sm:text-lg" color="accent"
                  >visibility</mat-icon
                >
              </button>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="bg-gray-200"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
